.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: rem(6) rem(12);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 3;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));

  @include breakpoint(large) {
    padding: rem(6) rem(36);
  }

  &_logo {
    // position: absolute;
    // left: 0;
    // right: 0;
    // bottom: 0;
    // top: 0;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // text-transform: uppercase;
    // font-weight: 500;
    // font-size: 20px;
    // z-index: 4;
  }
}

.navigation {
  font-size: 14px;
}
