.timeline {
  &_container {
    width: 100%;
    transform-style: perspective-3d;
    perspective: 900px;

    @include breakpoint(large) {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5rem;
    }
  }

  &_section {
    padding: rem(48) 0;

    @include breakpoint(large) {
      padding: 8rem 0 max(5vh, 2rem);

      &:nth-child(2n) .timeline_container {
        flex-flow: row-reverse;
      }
    }

    &_heading {
      font-size: clamp(1.125rem, 0.8823rem + 1.0356vw, 2.125rem);
      letter-spacing: -0.04em;
      margin: 0 0 1rem;
      position: relative;
      z-index: 1;

      @include breakpoint(large) {
        max-width: 620px;
      }

      span {
        display: block;
      }

      span:first-child {
        margin-bottom: 6px;
        font-size: clamp(1.125rem, 0.7913rem + 1.4239vw, 2.5rem);
      }

      span:nth-child(2) {
        word-break: break-word;
      }
    }

    &_image {
      @include breakpoint(large) {
        width: 50%;
      }
    }
  }
}
