.footer {
  position: relative;
  $padding: 12px;

  @include breakpoint(large) {
    $padding: 36px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }

  padding-top: $padding !important;
  padding-bottom: $padding !important;

  &_logo {
    margin-bottom: 70px !important;
    img {
      margin: auto;
    }
  }

  &_socials {
    display: flex;
    justify-content: center;
    margin-top: 50px;

    &_item {
      margin: 0 6px;
      transition: transform 0.2s ease-in-out;

      &:hover {
        transform: translateY(-3px);
      }
    }
  }

  &_column {
    & > div,
    & > a {
      display: flex;
      align-items: center;
      margin-bottom: 1rem;
      font-size: 14px;

      svg {
        margin-right: 10px;
      }
    }
  }

  &_navigation {
    @include breakpoint(small) {
      margin: 40px 0;
    }
    @include breakpoint(large) {
      display: flex;
    }
    &_column {
      @include breakpoint(small) {
        padding-bottom: 2.5rem;
      }

      &:last-child {
        padding-bottom: 0;

        @include breakpoint(large) {
          margin-left: 50px;
        }
      }
    }
    p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      font-weight: var(--font-medium);
      text-transform: uppercase;
    }
    li {
      margin-bottom: 1rem;
      font-size: 14px;
      transition: color 0.2s ease-in-out;

      &:hover {
        color: var(--color-primaryLight);
      }
    }
  }

  &_copy {
    text-align: center;
    font-size: 12px;
    margin-top: 30px;

    @include breakpoint(large) {
      width: 100%;
    }
  }  

  &_flag {
    position: relative;
    display: inline-block;
    color: white;
    font-weight: var(--font-medium);
    width: 100%;
    max-width: 370px;
    margin: auto;

    @include breakpoint(large) {
      width: 370px;
    }

    &:before,
    &:after {
      position: absolute;
      content: '';
      left: 0;
      width: 60px;
      top: 0;
      bottom: 0;
      background: var(--color-background);
      background: linear-gradient(
        90deg,
        #101010 0%,
        rgba(16, 16, 16, 0) 100%
      );
      z-index: 1;
    }

    &:after {
      right: 0;
      left: auto;
      background: linear-gradient(
        -90deg,
        #101010 0%,
        rgba(16, 16, 16, 0) 100%
      );
    }

    &_title {
      position: absolute;
      top: -20px;
      text-align: center;
      left: 0;
      right: 0;
      color: white;
    }

    &_wrap {
      display: block;
      width: 100%;
      position: relative;
      z-index: 1;
      padding: 15px 10px;
      font-size: 16px;
      text-align: center;

      &:before,
      &:after {
        position: absolute;
        content: '';
        left: 0;
        right: 0;
        width: 100%;
        height: 10px;
        top: 0;
        background: linear-gradient(
          180deg,
          #101010 0%,
          rgba(16, 16, 16, 0) 100%
        );
        z-index: 1;
      }

      &:after {
        bottom: 0;
        top: auto;
        background: linear-gradient(0, #101010 0%, rgba(16, 16, 16, 0) 100%);
      }
    }
  }
}
