.footer {
  position: relative;
  $padding: 12px;

  @include breakpoint(large) {
    $padding: 36px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }

  padding-top: $padding !important;
  padding-bottom: $padding !important;

  &_logo {
    margin-bottom: 40px !important;
    img {
      margin: auto;
    }
  }

  &_socials {
    display: flex;
    justify-content: center;

    &_item {
      margin: 0 6px;
      transition: transform 0.2s ease-in-out;

      &:hover {
        transform: translateY(-3px);
      }
    }
  }

  &_column {
    & > div,
    & > a {
      display: flex;
      align-items: center;
      margin-bottom: 1rem;
      font-size: 14px;

      svg {
        margin-right: 10px;
      }
    }
  }

  &_navigation {
    @include breakpoint(small) {
      margin: 40px 0;
    }
    @include breakpoint(large) {
      display: flex;
    }
    &_column {
      @include breakpoint(small) {
        padding-bottom: 2.5rem;
      }

      &:last-child {
        padding-bottom: 0;

        @include breakpoint(large) {
          margin-left: 50px;
        }
      }
    }
    p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      font-weight: var(--font-medium);
      text-transform: uppercase;
    }
    li {
      margin-bottom: 1rem;
      font-size: 14px;
      transition: color 0.2s ease-in-out;

      &:hover {
        color: var(--color-primaryLight);
      }
    }
  }

  &_copy {
    text-align: center;
    font-size: 12px;
    margin-top: 30px;

    @include breakpoint(large) {
      width: 100%;
    }
  }

  &_alpineco {
    display: block;
    margin: auto;
    width: 70px;
    margin-top: 20px;

    @include breakpoint(large) {
      position: absolute;
      margin: 0;
      right: 32px;
      bottom: 36px;
    }
  }
}
