:root {
  // Colors
  --color-white: #fff;
  --color-background: #101010;
  --color-primary: #6f6044;
  --color-grayLight: #eeeeee;
  --color-grayDark: #bebbbe;
  --color-gray: #5c5e62;
  --color-gray3: #7d7d7d;
  --color-dark: #171717;
  --color-secondary: #2b2b2b;
  --color-green: #007a4c;
  --color-primaryLight: #b7baa7;

  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-demi: 600;

  --header-height: 100px;
}

body {
  font-family: Termina, sans-serif;
  color: #fff;

  &.background-dark {
    color: var(--color-white);
  }
}

em,
i {
  font-style: italic;
}
strong,
b {
  font-weight: var(--font-medium);
}

.bold {
  font-weight: var(--font-medium);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: var(--font-regular);
  line-height: 1.2;
}

p,
a {
  line-height: 1.4;
}

a {
  color: inherit;
  text-decoration: none;
}
*:focus {
  outline: none !important;
}
* {
  box-sizing: border-box;
}
img {
  max-width: 100%;
  height: auto;
  // width: auto;
  display: block;
}
small {
  font-size: 70%;
  line-height: 1.3;
  display: block;
}

.static {
  --bodySize: clamp(0.875rem, 0.8295rem + 0.1942vw, 1.0625rem);
  word-wrap: break-word;

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-weight: var(--font-medium);
  }

  h1 {
    margin: 0 0 30px;
    font-size: clamp(1.5rem, 1.25rem + 1.25vw, 2.75rem);
  }
  h2 {
    margin: 0 0 24px;
    padding: 12px 0 0;
    font-size: 24px;
    font-size: clamp(1.5rem, 1.2876rem + 0.9061vw, 2.375rem);
    text-transform: uppercase;
  }
  h3 {
    margin: 0 0 24px;
    padding: 12px 0 0;
    font-size: clamp(1.25rem, 1.159rem + 0.3883vw, 1.625rem);
  }
  h4 {
    margin: 0 0 24px;
    padding: 12px 0 0;
    font-size: clamp(1.0625rem, 1.017rem + 0.1942vw, 1.25rem);
  }
  ul,
  ol {
    padding: 0 0 0 1rem;
    margin: 0 0 2.5rem;
    font-size: var(--bodySize);

    li {
      margin-bottom: rem(16);
    }
  }
  ul {
    list-style-type: disc;
    margin-left: 10px;
  }
  ol {
    counter-reset: item;

    li {
      &::before {
        content: counter(item) '. ';
        counter-increment: item;
        margin-right: 8px;
        display: inline-block;
        font-weight: var(--font-medium);
      }
    }
  }
  p {
    margin-bottom: rem(24);
    font-size: var(--bodySize);

    &:last-child {
      margin-bottom: 0;
    }
  }
  a {
    color: var(--color-primaryLight);
    font-weight: var(--font-medium);
    text-decoration: underline;
  }
  .text-wrap {
    margin-bottom: rem(24);
  }
  img {
    margin: rem(24) auto;
    max-width: 100%;
    @include breakpoint(medium) {
      max-width: 875px;
    }
  }
  br {
    display: block;
    margin: 10px 0;
    content: '';
  }
  video {
    max-width: 100%;
  }

  iframe {
    max-width: 100%;
    margin: 20px 0;
  }

  blockquote {
    background-color: var(--color-white);
    border-radius: 8px;
    font-size: var(--bodySize);
    margin: rem(50) 0;
    padding: rem(40) rem(20) rem(30);
    position: relative;
    @include breakpoint(large) {
      padding: rem(50) rem(30) rem(40) rem(50);
    }

    &:before {
      content: '\201F';
      left: 10px;
      position: absolute;
      top: 0;
      top: 10px;
      font-size: clamp(3.125rem, 2.8975rem + 0.9709vw, 4.0625rem);
      color: var(--color-primary);
      line-height: 1.4;
      @include breakpoint(large) {
        top: 20px;
      }
    }

    p {
      margin-bottom: 0;
      font-size: var(--bodySize);
    }
  }

  &.centered {
    margin: auto;
    text-align: center;

    @include breakpoint(large) {
      max-width: 1100px;
    }
  }

  &.primary {
    p {
      font-size: clamp(1rem, 0.8875rem + 0.5625vw, 1.5625rem); // 18 - 25
    }
  }
  &.left {
    max-width: 790px;
  }

  &.right {
    max-width: 790px;
    margin-left: auto;
  }

  &.big {
    p {
      @include breakpoint(large) {
        font-size: rem(26);
      }
    }
  }

  &.parallax {
    position: relative;
    z-index: 2;

    &.left {
      margin-left: 10vw;
    }

    &.right {
      margin-right: 10vw;
      margin-left: auto;
    }

    &.small {
      max-width: 500px;

      p {
        font-size: rem(21);
      }
    }
  }

  &.spacing {
    height: clamp(1.5625rem, 1.1833rem + 1.6181vw, 3.125rem);

    &.big {
      height: clamp(3.125rem, 2.3665rem + 3.2362vw, 6.25rem);
    }

    &.huge {
      height: clamp(6.25rem, 4.733rem + 6.4725vw, 12.5rem);
    }
  }

  &.twoColumnsText {
    margin: 32px auto;

    div:first-child {
      margin-bottom: rem(24);
    }

    @include breakpoint(large) {
      display: flex;
      justify-content: space-evenly;
      gap: 50px;
      margin: 50px auto;

      div:first-child {
        margin-bottom: 0;
        padding-top: rem(24);
      }
    }
  }

  &.twoColumnsText {
    &.specs {
      & > div {
        @include breakpoint(large) {
          width: 50%;

          p {
            font-size: rem(15);

            margin-bottom: rem(14);
          }
        }
      }
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        border-radius: 6px;
        border: 1px solid #fff3;
        background: linear-gradient(
          180deg,
          rgba(255, 255, 255, 0.1) 0%,
          rgba(0, 0, 0, 0) 70%
        );

        li {
          display: flex;
          padding: rem(12);
          margin: 0;
          font-size: rem(13);
          line-height: 1.3;
          border-bottom: 1px solid #fff3;

          @include breakpoint(large) {
            padding: rem(16) rem(28);
            font-size: rem(15);
          }
          @include breakpoint(huge) {
            padding: rem(20) rem(40);
            font-size: rem(17);
          }

          span {
            margin-right: rem(20);
            min-width: 75px;
            color: rgb(153, 153, 153);
            font-size: rem(11);

            @include breakpoint(large) {
              margin-right: rem(50);
              min-width: 102px;
              font-size: rem(15);
            }
            @include breakpoint(huge) {
              margin-right: rem(100);
              min-width: 125px;
              font-size: rem(17);
            }
          }

          &:last-child {
            border-bottom: 0;
          }
        }
      }
    }
  }
}

.staticIframe {
  display: block;
  max-width: 100%;
  margin: rem(30) auto;
  width: 100%;
  max-width: 1200px;
  aspect-ratio: 16 / 9;
  border-radius: 6px;

  &.right {
    margin-right: 0;
  }
}

.twoImages {
  margin: rem(30) 0;

  @include breakpoint(large) {
    display: flex;
    justify-content: space-between;
    margin: rem(60) 0;
  }

  iframe,
  img,
  video {
    aspect-ratio: 16/9;
    border-radius: 8px;

    @include breakpoint(small) {
      &:first-child {
        margin-bottom: rem(16);
      }
    }

    @include breakpoint(large) {
      width: 49%;
    }
  }
}

.staticImage {
  margin: rem(24) auto;
  padding: 12px 0;

  @include breakpoint(large) {
    padding: 24px 0;
    max-width: 1000px;
  }

  &.big {
    @include breakpoint(large) {
      max-width: 1500px;
    }
  }

  &.parallax {
    @include breakpoint(large) {
      padding: 48px 0;
    }
  }

  &.right {
    margin-right: 0;

    img {
      max-width: 100%;
      border-radius: 6px;

      @include breakpoint(large) {
        width: 85%;
      }
    }
  }

  &.left {
    img {
      max-width: 100%;
      border-radius: 6px;
      margin-left: 0;

      @include breakpoint(large) {
        width: 85%;
      }
    }
  }

  img {
    display: block;
    margin: auto;
    max-width: 100%;
  }
}
.staticVideo {
  display: block;
  width: 100%;
  max-width: 1000px;
  margin: rem(24) auto;
  padding: 12px;

  @include breakpoint(large) {
    padding: 24px;
    max-width: 1500px;
  }

  video {
    width: 100%;
    border-radius: 8px;
  }
}

.c-content {
  text-align: center;
  margin-bottom: rem(32);

  @include breakpoint(large) {
    margin-bottom: rem(48);
  }
}
.c-title {
  margin-bottom: rem(12);
  font-size: rem(30);
  text-transform: uppercase;
  font-weight: 500;

  @include breakpoint(large) {
    margin-bottom: rem(16);
    font-size: rem(56);
  }
}
.c-description {
  font-size: rem(15);

  @include breakpoint(large) {
    max-width: 900px;
    margin: auto;
    font-size: rem(18);
  }
}

.darkColor,
p.darkColor {
  color: var(--color-dark);
}
